doctype html
html
  head
    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Women and Web Literacy')

    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Women and Web Literacy')
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content='https://mozilla.github.io/womenandweb')
    meta(property='og:image', content='TODO')
    meta(property='og:title', content='Women and Web Literacy')
    meta(property='og:description', content='Women and Web Literacy')

    link(rel='stylesheet', href='css/main.compiled.css')
    link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')

    title Women and Web Literacy
  body
    header.p-y-3
      .container
        a.mozilla-logo(href='https://www.mozilla.org')
          img(src='images/mozilla-wordmark.svg',target='_blank').m-b-1

        h1.center-text Women & Web Literacy
        p.center-text Working towards an open, safe and innovative web for women everywhere.

  .container.m-y-2
    .row.m-b-1
      .col-sm-12
        h2 What We Do
    .row
      .col-md-6
        include:markdown markdown/what-we-do/summary.md
      .col-md-6
        include:markdown markdown/what-we-do/description.md

  .bg-gray.m-y-2
    .container.p-y-3
      .row
        .col-sm-12
          h2.center-text Mozilla Clubs for Women and Girls
      .row.p-y-3
        .col-sm-12.col-md-4
          img(src='images/FPO.svg')
        .col-sm-12.col-md-4
          img(src='images/FPO.svg')
        .col-sm-12.col-md-4
          img(src='images/FPO.svg')
      .row
        .col-sm-12.col-md-8
          div
            include:markdown markdown/clubs/summary.md
        .col-sm-12.col-md-4
          .bg-blue.p-x-2.p-y-2.partial-cta
            include:markdown markdown/clubs/cta.md
            a.btn.btn-white(href='https://learning.mozilla.org/clubs') Learn More

  .container.m-y-2
    .row
      .col-sm-12.m-b-1
        h2.center-text More of our Work
    .row
      .col-md-4
        include:markdown markdown/resources/teaching-resources.md
      .col-md-4
        include:markdown markdown/resources/case-studies.md
      .col-md-4
        include:markdown markdown/resources/reports.md
    .row
      .col-sm-12.center-text View All Resources

  .bg-blue.p-y-2.m-y-2
    .container
      .row
        .col-sm-12.p-y-2.center-text.partial-posts-preface
          include:markdown markdown/posts-preface.md
      .row.p-y-2
        .col-md-4
          .post-card.p-a-2
            include:markdown markdown/posts/1.md
        .col-md-4
          .post-card.p-a-2
            include:markdown markdown/posts/2.md
        .col-md-4
          .post-card.p-a-2
            include:markdown markdown/posts/3.md

  .container
    .row.p-y-3
      .col-sm-12.center-text
        h2 We are working with
        p Mozilla is proud to be working with a range of organizations who are collaborating to increase Web Literacy amongst women around the world. Visit their sites to see how they are changing the face of women online.
    .row.p-y-1
      .col-sm-12.col-md-4
        img(src='images/FPO.svg')
      .col-sm-12.col-md-4
        img(src='images/FPO.svg')
      .col-sm-12.col-md-4
        img(src='images/FPO.svg')
    .row.p-y-1
      .col-sm-12.col-md-4
        img(src='images/FPO.svg')
      .col-sm-12.col-md-4
        img(src='images/FPO.svg')
      .col-sm-12.col-md-4
        img(src='images/FPO.svg')

  footer
